body {
  width: 99%;
  font-size: x-large;
  font-family: Arial, sans-serif;
  background-color: #b1bfd8;
background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
}

h1 {
  text-align: center;
}

div {
  font-size: large;
  max-width: 350px;
  margin: auto;
  border: 2px solid black;
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  border-radius: 40px;
  padding: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  }

label {
  display: inline-block;
  width: 150px;
}

input[type="number"] {
  width: 150px;
}

button {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}